
html{
  font-family: "Poppins", sans-serif;
  font-family: cursive;
  color: rgb(111, 68, 134); 
  line-height: 1.1;
  text-align: left;
  box-sizing: border-box;
  padding-left: 0.5%;
}

h2 {
  font-size: 15px;
  font-size: 1em; /* Relative so design is responsive */
  font-weight: bold;
  color: #F24996; 
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.1;
  color: #333;
  background-color: #dcb5cba4;

}

.Profile {
  height: 200px;
  border-radius: 200px;
}

